{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-toggleable-sm navbar-fixed-top navbar-dark bg-dark main-nav">
    <div class="container">
        <ul class="nav navbar-nav justify-content-left">
            <li class="nav-item">
                <a class="nav-link" href="/therapists">For Therapists</a>
            </li>
        <ul class="nav navbar-nav abs-center-x">
            <li class="nav-item"><a class="nav-link" href="/">Therapair</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
