{% extends "template.html" %}
{% block content %}

<div class="row justify-content-center">
<form>
  <div class="form-group justify-content-center">
    <label for="exampleInputEmail1">Name</label>
    <input type="name" class="form-control col-25" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="address" class="form-control col-25"  placeholder="Enter Address">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>>
{% endblock %}